body {
    background: #F2F2F2;
    margin: 40px;
}

.first {
    background: #000000;
    color: white;
    width: 200px;
    height: 60px;
    display: grid; 
    place-items: center;
    font-size: large;
    border-radius: 5px;
    margin: 40px;
}

.second {
    background: local;
    color: #000000;
    width: 200px;
    height: 60px;
    display: grid; 
    place-items: center;
    font-size: large;
    border-radius: 5px;
}

.dark {
    background-color: #000000;
    width: 270px;
    height: 270px;
    display: grid;
    place-items: center;
}

.white {
    background-color: #F2F2F2;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.demo {
    background-color: white;
    width: 270px;
    height: 166px;
    top: 270px;
    display: grid;
}

.text {
    color: #000000;
    font: 20px;
    padding: 30px;
    left: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.mini {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding-top: 50px;
}

.box1 {
    padding-left: 39px;
    padding-top: 30px;
    display: grid;
}

.everything {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
}

.black {
    background-color: black;
    width: 54px;
    height: 54px;
    border-radius: 90px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    place-items: center;
}

.butn {
    width: 160px;
    height: 40px;
    background: local;
    border-radius: 5px;
    margin-left: 55px;
    display: grid;
    place-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: grid;
    justify-items: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: grid;
    justify-items: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: grid;
    justify-items: center;
    color: #00000080;
}

.box2 {
    width: 270px;
    height: 420px;
    border-radius: 2px;
    border-width: 1px;
    background-color: white;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 30px;
    display: grid;
}

.bobo {
    width: 370px;
    height: 370px;
    background-color: black;
    display: grid;
    place-items: center;
}

.text1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: larger;
}

.text2 {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.box3 {
    margin-left: 169px;
    margin-top: 65px;
    display: grid;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 50px;
    justify-items: center;
    align-items: center;
}
